# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
/devel/.catkin
/atomic_configure/.rosinstall
/catkin_generated/installspace/.rosinstall
/devel/.rosinstall
/devel/share/gennodejs/ros/ros_vosk/msg/_index.js
/devel/share/gennodejs/ros/ros_vosk/_index.js
/devel/share/common-lisp/ros/ros_vosk/msg/_package.lisp
/devel/share/common-lisp/ros/ros_vosk/msg/_package_speech_recognition.lisp
/atomic_configure/_setup_util.py
/catkin_generated/installspace/_setup_util.py
/devel/_setup_util.py
/catkin_generated/stamps/Project/_setup_util.py.stamp
/CMakeFiles/3.16.3/CompilerIdC/a.out
/CMakeFiles/3.16.3/CompilerIdCXX/a.out
/CMakeFiles/clean_test_results.dir/build.make
/CMakeFiles/download_extra_data.dir/build.make
/CMakeFiles/doxygen.dir/build.make
/CMakeFiles/run_tests.dir/build.make
/CMakeFiles/tests.dir/build.make
/gtest/googlemock/CMakeFiles/gmock.dir/build.make
/gtest/googlemock/CMakeFiles/gmock_main.dir/build.make
/gtest/googletest/CMakeFiles/gtest.dir/build.make
/gtest/googletest/CMakeFiles/gtest_main.dir/build.make
/nao_robot/nao_meshes/CMakeFiles/nao_meshes_meshes.dir/build.make
/ros-vosk/CMakeFiles/_ros_vosk_generate_messages_check_deps_speech_recognition.dir/build.make
/ros-vosk/CMakeFiles/ros_vosk_gencpp.dir/build.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages.dir/build.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_cpp.dir/build.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_eus.dir/build.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_lisp.dir/build.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_nodejs.dir/build.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_py.dir/build.make
/ros-vosk/CMakeFiles/ros_vosk_geneus.dir/build.make
/ros-vosk/CMakeFiles/ros_vosk_genlisp.dir/build.make
/ros-vosk/CMakeFiles/ros_vosk_gennodejs.dir/build.make
/ros-vosk/CMakeFiles/ros_vosk_genpy.dir/build.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_cpp.dir/build.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_eus.dir/build.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_lisp.dir/build.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_nodejs.dir/build.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_py.dir/build.make
/CATKIN_IGNORE
/CMakeFiles/cmake.check_cache
/devel/cmake.lock
/CMakeFiles/clean_test_results.dir/cmake_clean.cmake
/CMakeFiles/download_extra_data.dir/cmake_clean.cmake
/CMakeFiles/doxygen.dir/cmake_clean.cmake
/CMakeFiles/run_tests.dir/cmake_clean.cmake
/CMakeFiles/tests.dir/cmake_clean.cmake
/gtest/googlemock/CMakeFiles/gmock.dir/cmake_clean.cmake
/gtest/googlemock/CMakeFiles/gmock_main.dir/cmake_clean.cmake
/gtest/googletest/CMakeFiles/gtest.dir/cmake_clean.cmake
/gtest/googletest/CMakeFiles/gtest_main.dir/cmake_clean.cmake
/nao_robot/nao_meshes/CMakeFiles/nao_meshes_meshes.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/_ros_vosk_generate_messages_check_deps_speech_recognition.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/ros_vosk_gencpp.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/ros_vosk_generate_messages.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_cpp.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_eus.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_lisp.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_nodejs.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_py.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/ros_vosk_geneus.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/ros_vosk_genlisp.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/ros_vosk_gennodejs.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/ros_vosk_genpy.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/std_msgs_generate_messages_cpp.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/std_msgs_generate_messages_eus.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/std_msgs_generate_messages_lisp.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/std_msgs_generate_messages_nodejs.dir/cmake_clean.cmake
/ros-vosk/CMakeFiles/std_msgs_generate_messages_py.dir/cmake_clean.cmake
/gtest/googlemock/cmake_install.cmake
/gtest/googletest/cmake_install.cmake
/gtest/cmake_install.cmake
/nao_robot/nao_meshes/cmake_install.cmake
/ros-vosk/cmake_install.cmake
/cmake_install.cmake
/CMakeCache.txt
/CMakeFiles/3.16.3/CMakeCCompiler.cmake
/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
/CMakeFiles/CMakeDirectoryInformation.cmake
/gtest/CMakeFiles/CMakeDirectoryInformation.cmake
/gtest/googlemock/CMakeFiles/CMakeDirectoryInformation.cmake
/gtest/googletest/CMakeFiles/CMakeDirectoryInformation.cmake
/ros-vosk/CMakeFiles/CMakeDirectoryInformation.cmake
/CMakeFiles/CMakeRuleHashes.txt
/CMakeFiles/3.16.3/CMakeSystem.cmake
/CTestConfiguration.ini
/CTestCustom.cmake
/gtest/googlemock/CTestTestfile.cmake
/gtest/googletest/CTestTestfile.cmake
/gtest/CTestTestfile.cmake
/nao_robot/nao_meshes/CTestTestfile.cmake
/ros-vosk/CTestTestfile.cmake
/CTestTestfile.cmake
/ros-vosk/CMakeFiles/_ros_vosk_generate_messages_check_deps_speech_recognition.dir/depend.internal
/ros-vosk/CMakeFiles/ros_vosk_generate_messages.dir/depend.internal
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_cpp.dir/depend.internal
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_eus.dir/depend.internal
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_lisp.dir/depend.internal
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_nodejs.dir/depend.internal
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_py.dir/depend.internal
/ros-vosk/CMakeFiles/std_msgs_generate_messages_cpp.dir/depend.internal
/ros-vosk/CMakeFiles/std_msgs_generate_messages_eus.dir/depend.internal
/ros-vosk/CMakeFiles/std_msgs_generate_messages_lisp.dir/depend.internal
/ros-vosk/CMakeFiles/std_msgs_generate_messages_nodejs.dir/depend.internal
/ros-vosk/CMakeFiles/std_msgs_generate_messages_py.dir/depend.internal
/gtest/googlemock/CMakeFiles/gmock.dir/depend.make
/gtest/googlemock/CMakeFiles/gmock_main.dir/depend.make
/gtest/googletest/CMakeFiles/gtest.dir/depend.make
/gtest/googletest/CMakeFiles/gtest_main.dir/depend.make
/ros-vosk/CMakeFiles/_ros_vosk_generate_messages_check_deps_speech_recognition.dir/depend.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages.dir/depend.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_cpp.dir/depend.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_eus.dir/depend.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_lisp.dir/depend.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_nodejs.dir/depend.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_py.dir/depend.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_cpp.dir/depend.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_eus.dir/depend.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_lisp.dir/depend.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_nodejs.dir/depend.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_py.dir/depend.make
/CMakeFiles/clean_test_results.dir/DependInfo.cmake
/CMakeFiles/download_extra_data.dir/DependInfo.cmake
/CMakeFiles/doxygen.dir/DependInfo.cmake
/CMakeFiles/run_tests.dir/DependInfo.cmake
/CMakeFiles/tests.dir/DependInfo.cmake
/gtest/googlemock/CMakeFiles/gmock.dir/DependInfo.cmake
/gtest/googlemock/CMakeFiles/gmock_main.dir/DependInfo.cmake
/gtest/googletest/CMakeFiles/gtest.dir/DependInfo.cmake
/gtest/googletest/CMakeFiles/gtest_main.dir/DependInfo.cmake
/nao_robot/nao_meshes/CMakeFiles/nao_meshes_meshes.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/_ros_vosk_generate_messages_check_deps_speech_recognition.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/ros_vosk_gencpp.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/ros_vosk_generate_messages.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_cpp.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_eus.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_lisp.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_nodejs.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_py.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/ros_vosk_geneus.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/ros_vosk_genlisp.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/ros_vosk_gennodejs.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/ros_vosk_genpy.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/std_msgs_generate_messages_cpp.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/std_msgs_generate_messages_eus.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/std_msgs_generate_messages_lisp.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/std_msgs_generate_messages_nodejs.dir/DependInfo.cmake
/ros-vosk/CMakeFiles/std_msgs_generate_messages_py.dir/DependInfo.cmake
/atomic_configure/env.sh
/catkin_generated/installspace/env.sh
/devel/env.sh
/catkin_generated/env_cached.sh
/gtest/googlemock/CMakeFiles/gmock.dir/flags.make
/gtest/googlemock/CMakeFiles/gmock_main.dir/flags.make
/gtest/googletest/CMakeFiles/gtest.dir/flags.make
/gtest/googletest/CMakeFiles/gtest_main.dir/flags.make
/catkin_generated/generate_cached_setup.py
/catkin_generated/stamps/Project/interrogate_setup_dot_py.py.stamp
/gtest/googlemock/CMakeFiles/gmock.dir/link.txt
/gtest/googlemock/CMakeFiles/gmock_main.dir/link.txt
/gtest/googletest/CMakeFiles/gtest.dir/link.txt
/gtest/googletest/CMakeFiles/gtest_main.dir/link.txt
/atomic_configure/local_setup.bash
/catkin_generated/installspace/local_setup.bash
/devel/local_setup.bash
/atomic_configure/local_setup.sh
/catkin_generated/installspace/local_setup.sh
/devel/local_setup.sh
/atomic_configure/local_setup.zsh
/catkin_generated/installspace/local_setup.zsh
/devel/local_setup.zsh
/gtest/googlemock/Makefile
/gtest/googletest/Makefile
/gtest/Makefile
/nao_robot/nao_meshes/Makefile
/ros-vosk/Makefile
/Makefile
/CMakeFiles/Makefile.cmake
/CMakeFiles/Makefile2
/devel/share/roseus/ros/ros_vosk/manifest.l
/nao_robot/nao_meshes/catkin_generated/installspace/nao_meshes.pc
/nao_robot/nao_meshes/catkin_generated/installspace/nao_meshesConfig.cmake
/nao_robot/nao_meshes/catkin_generated/installspace/nao_meshesConfig-version.cmake
/week8/naomeshes-0.6.7-linux-installer.run
/week8/naomeshes-0.6.7-linux-x64-installer.run
/catkin_generated/order_packages.cmake
/catkin_generated/stamps/Project/order_packages.cmake.em.stamp
/catkin_generated/order_packages.py
/ros-vosk/catkin_generated/ordered_paths.cmake
/catkin/catkin_generated/version/package.cmake
/nao_robot/nao_meshes/catkin_generated/package.cmake
/ros-vosk/catkin_generated/package.cmake
/catkin_generated/stamps/Project/package.xml.stamp
/nao_robot/nao_meshes/catkin_generated/stamps/nao_meshes/package.xml.stamp
/ros-vosk/catkin_generated/stamps/ros_vosk/package.xml.stamp
/nao_robot/nao_meshes/catkin_generated/pkg.develspace.context.pc.py
/ros-vosk/catkin_generated/pkg.develspace.context.pc.py
/nao_robot/nao_meshes/catkin_generated/pkg.installspace.context.pc.py
/ros-vosk/catkin_generated/pkg.installspace.context.pc.py
/nao_robot/nao_meshes/catkin_generated/stamps/nao_meshes/pkg.pc.em.stamp
/ros-vosk/catkin_generated/stamps/ros_vosk/pkg.pc.em.stamp
/ros-vosk/catkin_generated/stamps/ros_vosk/pkg-genmsg.cmake.em.stamp
/CMakeFiles/clean_test_results.dir/progress.make
/CMakeFiles/download_extra_data.dir/progress.make
/CMakeFiles/doxygen.dir/progress.make
/CMakeFiles/run_tests.dir/progress.make
/CMakeFiles/tests.dir/progress.make
/gtest/googlemock/CMakeFiles/gmock.dir/progress.make
/gtest/googlemock/CMakeFiles/gmock_main.dir/progress.make
/gtest/googletest/CMakeFiles/gtest.dir/progress.make
/gtest/googletest/CMakeFiles/gtest_main.dir/progress.make
/nao_robot/nao_meshes/CMakeFiles/nao_meshes_meshes.dir/progress.make
/ros-vosk/CMakeFiles/_ros_vosk_generate_messages_check_deps_speech_recognition.dir/progress.make
/ros-vosk/CMakeFiles/ros_vosk_gencpp.dir/progress.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages.dir/progress.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_cpp.dir/progress.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_eus.dir/progress.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_lisp.dir/progress.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_nodejs.dir/progress.make
/ros-vosk/CMakeFiles/ros_vosk_generate_messages_py.dir/progress.make
/ros-vosk/CMakeFiles/ros_vosk_geneus.dir/progress.make
/ros-vosk/CMakeFiles/ros_vosk_genlisp.dir/progress.make
/ros-vosk/CMakeFiles/ros_vosk_gennodejs.dir/progress.make
/ros-vosk/CMakeFiles/ros_vosk_genpy.dir/progress.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_cpp.dir/progress.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_eus.dir/progress.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_lisp.dir/progress.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_nodejs.dir/progress.make
/ros-vosk/CMakeFiles/std_msgs_generate_messages_py.dir/progress.make
/CMakeFiles/progress.marks
/gtest/CMakeFiles/progress.marks
/gtest/googlemock/CMakeFiles/progress.marks
/gtest/googletest/CMakeFiles/progress.marks
/nao_robot/nao_meshes/CMakeFiles/progress.marks
/ros-vosk/CMakeFiles/progress.marks
/ros-vosk/catkin_generated/installspace/ros_vosk.pc
/ros-vosk/cmake/ros_vosk-genmsg.cmake
/ros-vosk/cmake/ros_vosk-genmsg-context.py
/devel/share/common-lisp/ros/ros_vosk/msg/ros_vosk-msg.asd
/devel/share/ros_vosk/cmake/ros_vosk-msg-extras.cmake
/ros-vosk/catkin_generated/installspace/ros_vosk-msg-extras.cmake
/ros-vosk/catkin_generated/ros_vosk-msg-extras.cmake.develspace.in
/ros-vosk/catkin_generated/ros_vosk-msg-extras.cmake.installspace.in
/devel/share/ros_vosk/cmake/ros_vosk-msg-paths.cmake
/ros-vosk/catkin_generated/installspace/ros_vosk-msg-paths.cmake
/devel/share/ros_vosk/cmake/ros_voskConfig.cmake
/ros-vosk/catkin_generated/installspace/ros_voskConfig.cmake
/devel/share/ros_vosk/cmake/ros_voskConfig-version.cmake
/ros-vosk/catkin_generated/installspace/ros_voskConfig-version.cmake
/atomic_configure/setup.bash
/catkin_generated/installspace/setup.bash
/devel/setup.bash
/atomic_configure/setup.sh
/catkin_generated/installspace/setup.sh
/devel/setup.sh
/atomic_configure/setup.zsh
/catkin_generated/installspace/setup.zsh
/devel/setup.zsh
/catkin_generated/setup_cached.sh
/devel/include/ros_vosk/speech_recognition.h
/devel/share/gennodejs/ros/ros_vosk/msg/speech_recognition.js
/devel/share/roseus/ros/ros_vosk/msg/speech_recognition.l
/devel/share/common-lisp/ros/ros_vosk/msg/speech_recognition.lisp
/CMakeFiles/TargetDirectories.txt
/nao_robot/nao_meshes/CMakeFiles/nao_meshes_meshes.dir/build.make
